<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="openapi-suite.ZPM">
    <Module>
      <Name>openapi-suite</Name>
      <Version>0.9.0</Version>
      <Description>ObjectScript class generator from OpenAPI specification</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.openapi.suite.PKG"/>
      <CSPApplication 
            SourcePath="/web"
            DeployPath="${cspdir}/openapisuite"
            Url="/openapisuite" 
            CookiePath="/openapisuite/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="64" 
            Recurse="1"
            MatchRoles=":%DB_${Namespace}"
            DispatchClass="dc.openapi.suite.api.disp"/>
      
      <CSPApplication
            SourcePath="/web"
            DeployPath="${cspdir}/openapisuite/ui"
            Url="/openapisuite/ui"
            CookiePath="/openapisuite/"
            ServeFiles="1"
            PasswordAuthEnabled="1"
            AuthenticationMethods="64" 
            MatchRoles=":%DB_${Namespace}"
            Recurse="1"/>

      <UnitTest Name="/tests" Package="dc.openapi.suite.unittests" Phase="test"/>
      <Invoke Class="community.utils.SSLClient" Method="CreateSSLConfiguration">
        <Arg>DefaultSSL</Arg>
      </Invoke>
      <Dependencies>
        <ModuleReference>
          <Name>openapi-server-gen</Name>
          <Version>0.0.3</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>openapi-client-gen</Name>
          <Version>2.0.6</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>io-redirect</Name>
          <Version>1.0.2</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>