<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="openapi-suite.ZPM">
    <Module>
      <Name>openapi-suite</Name>
      <Version>1.0.4</Version>
      <Description>ObjectScript class generator from OpenAPI specification</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.openapi.PKG"/>
      <Resource Name="Grongier.OpenApi.PKG"/>
      <Default Name="passwordEnabled" Value="1" />
      <CSPApplication 
            SourcePath="/web"
            DeployPath="${cspdir}/openapisuite"
            Url="/openapisuite" 
            CookiePath="/openapisuite/"
            PasswordAuthEnabled="${passwordEnabled}"
            AuthenticationMethods="64" 
            Recurse="1"
            MatchRoles=":%DB_${Namespace}"
            DispatchClass="dc.openapi.suite.api.disp"/>
      
      <CSPApplication
            SourcePath="/web"
            DeployPath="${cspdir}/openapisuite/ui"
            Url="/openapisuite/ui"
            CookiePath="/openapisuite/"
            ServeFiles="1"
            PasswordAuthEnabled="${passwordEnabled}"
            AuthenticationMethods="64" 
            MatchRoles=":%DB_${Namespace}"
            Recurse="1"/>

      <UnitTest Name="/tests" Package="dc.openapi.suite.unittests" Phase="test"/>
      <Invoke Class="community.utils.SSLClient" Method="CreateSSLConfiguration">
        <Arg>DefaultSSL</Arg>
      </Invoke>
      <Dependencies>
        <ModuleReference>
          <Name>io-redirect</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>swagger-converter-cli</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>swagger-validator-cli</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>